In [2]:
import pandas as pd
from analysis.datasets import *

In [4]:
weather_forecasts = pd.read_csv('C:/Users/Manuel/Documents/Masterarbeit/data/weather_forecast/raw/open-meteo-53.00N13.12E89m.csv')
weather_forecasts

,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation
0,53.0,13.119999,89.0,3600.0,Europe/Berlin,CET
1,time,wind_speed_10m (m/s),wind_speed_80m (m/s),NaN,NaN,NaN
2,2021-03-22T00:00,NaN,NaN,NaN,NaN,NaN
3,2021-03-22T00:15,NaN,NaN,NaN,NaN,NaN
4,2021-03-22T00:30,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
105309,2024-03-22T22:45,2.15,4.92,NaN,NaN,NaN
105310,2024-03-22T23:00,2.12,5.01,NaN,NaN,NaN
105311,2024-03-22T23:15,2.09,4.92,NaN,NaN,NaN
105312,2024-03-22T23:30,1.94,4.68,NaN,NaN,NaN
105313,2024-03-22T23:45,1.91,4.46,NaN,NaN,NaN

In [3]:
weather_forecasts = load_weather_forecast()
weather_forecasts

                    time  wind_speed_10m (m/s)  wind_speed_80m (m/s)
0       2021-03-22T00:00                   NaN                   NaN
1       2021-03-22T00:15                   NaN                   NaN
2       2021-03-22T00:30                   NaN                   NaN
3       2021-03-22T00:45                   NaN                   NaN
4       2021-03-22T01:00                   NaN                   NaN
...                  ...                   ...                   ...
105307  2024-03-22T22:45                  2.15                  4.92
105308  2024-03-22T23:00                  2.12                  5.01
105309  2024-03-22T23:15                  2.09                  4.92
105310  2024-03-22T23:30                  1.94                  4.68
105311  2024-03-22T23:45                  1.91                  4.46

[105312 rows x 3 columns]

In [10]:
weather_forecasts.isna()

         time  wind_speed_10m (m/s)  wind_speed_80m (m/s)
0       False                  True                  True
1       False                  True                  True
2       False                  True                  True
3       False                  True                  True
4       False                  True                  True
...       ...                   ...                   ...
105307  False                 False                 False
105308  False                 False                 False
105309  False                 False                 False
105310  False                 False                 False
105311  False                 False                 False

[105312 rows x 3 columns]